* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'Nunito', 'Roboto', 'system-ui', 'Tahoma', 'sans-serif';
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.App {
  max-width: 1400px;
  margin: 50px auto;
}